.Popular-container {
  background-color: #181818;
  min-height: 100vh;
  background-size: cover;
  width: 100vw;
  padding: 3px;
}

.Popular-movies-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.akj {
  width: 100vw;
}
